Hello,

We will be rebooting the login nodes 2 months on a rolling schedule for updates and maintenance. You can see the message of the day when you log in for the schedule. {{ hostname }} will be briefly rebooted tomorrow, Monday {{ tomorrow }} at 8AM US Eastern time.

This is a notification that you own currently running processes on {{ hostname }} and should make sure you will not lose any work. Remember to check local sessions (especially editors) that may be using remote ssh connections to work with files.  If you do not care about any of these processes, feel free to take no action and disregard this message. See below for the list of processes you own. Thanks.
